{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- Fontawesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>

	<!-- Static CSS -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<!-- Favicon -->
	<link rel="shortcut icon" href="{% static 'imgs/icon.png' %}">

	<title>{% block title %} Home {% endblock title %}</title>
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="col-sm">
				<a class="navbar-brand flex-grow-1" style="text-align: center; color: #fff; margin-left: 25px;">
					{% block navbar-content %} {% endblock navbar-content %}
				</a>
				
			</div>

			{% if request.user.is_authenticated %}
				<div class="d-flex flex-row">
					<a href="{% url 'logout' %}" class="btn btn-danger m-2">SAIR</a>
				</div>
			{% endif %}			
		</nav>
	</header>
	<div class="wrapper">
		{% block content %} {% endblock content %}
	
	</div>
	<footer class="bg-dark text-center text-lg-start" id="footer" style="color: #fff;">
		<div class="text-center p-3" style="background-color: rgba(0,0,0,0.2)">&copy; {% now "Y" %} Copyright:
			<a class="text-light" href="#" style="text-decoration: none;">
				<span class="text-info">AGSL Space</span>
			</a>
		</div>
	</footer>


	<!-- Bootstrap JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script> 

	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

	<!-- Static JavaScript -->
	<script>
		$(document).ready(function(){
		 console.log("Puta de Merda")
		let alertElement = $('.alert');

		setTimeout(function(){
			alertElement.hide(500, function(){
				$(this).remove()
				})
			}, 3000)
		})

		let tamanho = $(window).width();


		if (tamanho >= 768){
		  	$(".produtos-mobile").hide();
		  }else{
		  	$(".produtos-mobile").show();
		  }

		$(window).resize(function() {
		  tamanho = $(window).width();

		  if (tamanho <= 768){
		  	let value = $("#search").val();

		  	$(".produtos-mobile").each(function() {
			    let $card = $(this);
			    let cardTitle = $card.find('#titulo-card').text()
			    let cardText = $card.find('.texto-card').text();
			    console.log(cardTitle, cardText)

			    if (cardText.toLowerCase().indexOf(value.toLowerCase()) < 0 && cardTitle.toLowerCase().indexOf(value.toLowerCase()) < 0) {
			      	  $card.hide();
			    } else {
			    	if (tamanho <= 768){
				      $card.show();
			    	}
			    }
			  });
		  }else{
		  	$(".produtos-mobile").hide();
		  }
			  
		});
				
		 $('#search').on('keyup', function() {
			  let value = $(this).val();

			  // Search in table rows
			  $("table tr").each(function(e) {
			    if (e !== 0) {
			      let $go = $(this);
			      $go.find('td').each(function() {
			        let id = $(this).text();

			        if (id.indexOf(value) !== 0 && id.toLowerCase().indexOf(value.toLowerCase()) < 0) {
			          $go.hide();
			        } else {
			          $go.show();
			          return false;
			        }
			      });
			    }
			  });

			  // Search in card elements
			  $(".produtos-mobile").each(function() {
			    let $card = $(this);
			    let cardTitle = $card.find('#titulo-card').text()
			    let cardText = $card.find('.texto-card').text();
			    console.log(cardTitle, cardText)

			    if (cardText.toLowerCase().indexOf(value.toLowerCase()) < 0 && cardTitle.toLowerCase().indexOf(value.toLowerCase()) < 0) {
			      	  $card.hide();
			    } else {
			    	if (tamanho <= 768){
				      $card.show();
			    	}
			  });

			  // Show/hide "Nenhum produto encontrado" message
			  let isNone = $("#produtos-table tr:not('.check-th'):visible");
			  let isNoneMobile = $(".produtos-mobile:visible");

			  if (isNone.length === 0 && isNoneMobile.length === 0) {
			    $("#no-data").text("Nenhum produto encontrado").show();
			  } else {
			    $("#no-data").text("").hide();
			  }
		 });
	</script>
</body>
